body {
  display: grid; }

a {
  text-decoration: none;
  outline: none;
  outline-style: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  outline: none;
  outline-style: none;
  color: inherit; }

a:focus {
  text-decoration: none;
  outline: none;
  outline-style: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  outline: none;
  outline-style: none; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

input, textarea {
  text-decoration: none;
  outline: none;
  outline-style: none;
  border: none; }

button {
  background-color: transparent;
  outline-style: none;
  border: none; }

button:hover {
  background-color: transparent;
  outline-style: none; }

button:focus {
  background-color: transparent;
  outline-style: none; }

section, footer {
  display: inline-block;
  width: 100%;
  padding: 25px 0px; }

footer {
  padding: 65px 0px; }

.parallax-container {
  height: 320px;
  background: transparent; }

.no-gutter [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.left {
  float: left; }

.right {
  float: right; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

a.sign {
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  color: #fffefe;
  border: 3px solid #404040;
  font-size: 24px;
  padding: 15px 40px;
  font-family: "Montserrat-Regular"; }
  a.sign:hover {
    border: 3px solid #fffefe;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

p {
  font-size: 16px;
  color: #404040;
  font-family: "OpenSansLight"; }

h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  margin: 40px 0;
  font-family: "Montserrat-Bold"; }

h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  font-family: "Montserrat-Regular"; }

h5 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "OpenSansLight";
  color: #404040;
  margin: 15px 0; }

header {
  height: 100vh;
  display: block;
  width: 100%;
  background-image: url("../img/top-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center; }
  header ul, header li {
    display: inline-block;
    list-style: none; }
  header li {
    padding: 20px 33px;
    text-transform: uppercase; }
  header h3 {
    color: #f7b519;
    font-size: 28px;
    text-transform: none; }
  header h2 {
    color: #161616;
    font-size: 40px; }
  header span {
    color: #f7b519;
    font-size: 44px; }

#about {
  background-color: #f4f4f4; }
  #about .follow {
    color: #fff;
    font-size: 13px;
    padding: 20px 53px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #eeb013;
    margin: 10px 0px;
    border: 1px solid transparent; }
    #about .follow:hover {
      background-color: transparent;
      color: #eeb013;
      border: 1px solid #eeb013;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
  #about .review h4 {
    text-transform: uppercase;
    color: #f7b519;
    font-size: 24px; }
  #about .review p {
    text-align: left; }
  #about .overlay {
    display: inline-block;
    position: relative;
    overflow: hidden; }
    #about .overlay span {
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #111;
      opacity: .9;
      -webkit-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
      transition: all .5s ease-in; }
    #about .overlay:hover span {
      top: 0; }
    #about .overlay p {
      color: #fffefe; }

#testimonials {
  background-color: #f4f4f4; }
  #testimonials .descr {
    text-align: left; }
    #testimonials .descr p {
      font-size: 22px;
      margin-top: 75px; }

#blog .stats {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }

#blog .content {
  padding-top: 60px;
  display: inline-block; }
  #blog .content h4 {
    font-size: 14px;
    color: #808080;
    text-transform: uppercase; }
  #blog .content .ticket:hover {
    -webkit-box-shadow: 0 50px 60px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 50px 60px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  #blog .content .cvadro {
    background-color: #161616;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    height: 65px;
    width: 65px;
    z-index: 20;
    text-align: center; }
    #blog .content .cvadro p {
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      font-size: 17px; }
      #blog .content .cvadro p span {
        font-size: 25px; }

footer {
  background-color: #1c1c1c;
  color: #808080; }
  footer h6 {
    color: #fffefe;
    font-size: 20px;
    text-transform: uppercase; }
  footer p {
    color: #acacac;
    font-size: 16px; }
  footer ul, footer li {
    list-style: none;
    color: #acacac;
    font-size: 16px; }
